<ion-view view-title="Light">
  <ion-content>
  	<ion-toggle ng-model="led.isOn" ng-change="setLight(led.isOn)" toggle-class="toggle-calm">Light Mode</ion-toggle>
	<ion-toggle ng-model="led.isBlink" ng-change="setBlink(led.isBlink)" toggle-class="toggle-calm">Blink Mode</ion-toggle>
	<div class="list">
		<div class="item range range-positive">
			<i class="icon ion-ios-sunny-outline"></i>
			<input type="range" name="volume" min="0" max="255" ng-model="led.brightness" ng-change="setBrightness(led.brightness)">
			<i class="icon ion-ios-sunny"></i>
		</div>
	</div>
  </ion-content>
</ion-view>
